nav{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.nav-title{
      color: rgb(46, 33, 224);
      font-size: 40px;
      margin: 30px;
      text-align: right;
      
}

span{
    color: orangered;
}
nav > ul{
    display: flex;
    align-items: center;
   

}
nav li{
    list-style: none;
    margin-right: 50px;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
    font-weight: 700;
}
nav a {
    text-decoration: none;
    color: rgb(9, 2, 2);
    background-color: rgb(147, 239, 239);
}
.btn{
   
   font-size: 20px;
   border-radius: 5px;
   border: 0;
   color: white;
   font-weight: 700;
   padding: 15px 35px;
   background: rgb(8, 40, 98);
   justify-items: ;
 
   

}
.header{
    background-color: rgb(221, 206, 188);

}
.bannar{
    padding:30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.pic{
    width: 870px;

}