nav{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.nav-title{
      color: rgb(46, 33, 224);
      font-size: 40px;
      margin: 30px;
      text-align: right;
      
}

span{
    color: orangered;
}
nav > ul{
    display: flex;
    align-items: center;
   

}
nav li{
    list-style: none;
    margin-right: 50px;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
    font-weight: 700;
}
nav a {
    text-decoration: none;
    color: rgb(9, 2, 2);
    background-color: rgb(147, 239, 239);
}
.btn{
   background-color: rgb(14, 9, 1);
   font-size: 20px;
   border-radius: 5px;
   border: 0;
   color: white;
   font-weight: 700;
   padding: 15px 35px;
   

}